<%- include("header") -%>
    <div class="container my-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%= subject %></h5>
                <p class="card-text">
                    <%= desc %>
                </p>
            </div>
        </div>
    </div>
    <%- include("footer") -%>